<!DOCTYPE html>
<html lang="en">
<head>
  <title>page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>
    
    <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="/">Home Page</a></li>
    </ul>
    <section>
        <div class="container">
        <div class="row mx-md-n2">
            <div class="col px-md-2 align"><a class="btn" href="/login" role="button">LOGIN</a></div>
            <div class="col px-md-2"><a class="btn" href="/register" role="button">REGISTER</a></div>
        </div>
        </div>
    </section>

</body>
</html>